<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias alias = "User" type = "tm.common.entity.User"/>
        <typeAlias alias = "Session" type = "tm.common.entity.Session"/>
        <typeAlias alias = "Project" type = "tm.common.entity.Project"/>
        <typeAlias alias = "Task" type = "tm.common.entity.Task"/>
    </typeAliases>

    <environments default = "default">
        <environment id = "default">
            <transactionManager type = "JDBC"/>

            <dataSource type = "POOLED">
                <property name = "driver" value = "com.mysql.jdbc.Driver"/>
                <property name = "url" value = "jdbc:mysql://localhost:3306/taskmanager?serverTimezone=UTC&amp;useSSL=false"/>
                <property name = "username" value = "root"/>
                <property name = "password" value = "root"/>
            </dataSource>

        </environment>
    </environments>

    <!--<mappers>-->
        <!--<mapper resource = "mybatis/maps/maps.xml"/>-->
    <!--</mappers>-->

</configuration>